body {
  font-family: sans-serif;
    text-align: center;
    display: block;
    margin: 0 auto;
    background-color:white;
  }


button {
  margin: 5px 5px 5px 5px;
  background-color:aqua;
  border-radius:10px;
}
ul{
  color:blue;
list-style:none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

footer {
  margin-top:20px;
  font-size:11px;
}